.breadcrumb {
    padding: 0; margin: 0;
}

.breadcrumb ul {
    padding: 0; margin: 0;
    list-style: none;
    display: inline-table;
}

.breadcrumb ul li {
    display: inline;
}

.breadcrumb ul li a {
    display: block;
    float: left;
    height: 40px;
    background: #e4984b; /* e4984b  f4985b*/
    text-align: center;
    padding: 11px 18px 0 28px;
    position: relative;
    margin: 0 5px 5px 0;
    text-decoration: none;
    color: #fff;
}

.breadcrumb ul li:nth-child(even) a {
    background: #f4985b; /* e4984b  f4985b*/
}

.breadcrumb ul li a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #e4984b;
    position: absolute; right: -20px; top: 0;
    z-index: 1;
}

.breadcrumb ul li:nth-child(even) a:after {
    border-left: 20px solid #f4985b;
}

.breadcrumb ul li a:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #4d4d4d;
    position: absolute; left: 0; top: 0;
}

.breadcrumb ul li:first-child a {
    padding-left: 10px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

}
.breadcrumb ul li:first-child a:before {
    display: none;
}

.breadcrumb ul li:last-child a {

    border-top-right-radius: 10px; border-bottom-right-radius: 10px;
}
.breadcrumb ul li:last-child a:after {
    display: none;
}

.breadcrumb ul li a:hover {
    background: #1abc9c;
}
.breadcrumb ul li a:hover:after {
    border-left-color: #1abc9c;
}

